In [122]:
import pandas as pd
pd.set_option('display.float_format',lambda x : '%.0f' % x)

In [123]:
# Import the original data and name counts
location='https://raw.githubusercontent.com/Group8-GovAnalyticsProject/HaoyuYue/master/' 
fileDTA=location + 'raw_data_visiting_count_2020_4_WA.csv' 
raw_counts=pd.read_csv(fileDTA)

In [124]:
# Check data raw_counts
raw_counts

,safegraph_place_id,X,Unnamed..0,visitor_home_cbgs,visitor_count,date,latitude,longitude,city,region,x,y,dist.meters.,area_square_feet
0,sg:e18002340c9d478ebdfa07d0696a74dd,168500,85972,530019501001,4,2020/4/27,48,-122,Seattle,WA,-118,47,272921,24938322
1,sg:450d89d2a84a46d88345fb3ad1435362,422579,257665,530019501003,4,2020/4/27,48,-123,Anacortes,WA,-118,47,354001,44914
2,sg:ed254ca58d4a4b4b90117ab8ba456dd2,114482,232900,530019502003,4,2020/4/27,46,-119,Kennewick,WA,-119,47,82059,118674
3,sg:562bf61f13334a0896ad164ec7361eb2,216277,197474,530019503001,4,2020/4/27,46,-119,Pasco,WA,-119,47,62535,52302
4,sg:d3c8e348263f420488955bbee96eb343,216276,179857,530019503001,4,2020/4/27,47,-119,Moses Lake,WA,-119,47,37170,22524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8403,sg:29496c2b091a47a4b96cd0fbc1452492,436296,277309,530779400043,5,2020/4/27,46,-120,Wapato,WA,-120,46,703,120488
8404,sg:777048d98acd4150898470121b51569b,321261,315266,530779400051,4,2020/4/27,46,-120,Toppenish,WA,-120,46,1461,39183
8405,sg:a7b537bddc8b48048d4e31f208398af1,321260,11388,530779400051,8,2020/4/27,46,-120,Toppenish,WA,-120,46,577,125781
8406,sg:0478f09c792a4db7936821692cfc043c,316667,103110,530779400061,4,2020/4/27,46,-120,Toppenish,WA,-120,46,861,83640
8407,sg:aa77f58fc2ad42e9bc5268cc626ff949,316666,351461,530779400061,4,2020/4/27,46,-120,Grandview,WA,-120,46,33606,255307

In [125]:
# Only filter colunms 3 to 8 which are useful to our research and check
counts = raw_counts.iloc[:,3:8]
counts

      visitor_home_cbgs  visitor_count       date  latitude  longitude
0          530019501001              4  2020/4/27        48       -122
1          530019501003              4  2020/4/27        48       -123
2          530019502003              4  2020/4/27        46       -119
3          530019503001              4  2020/4/27        46       -119
4          530019503001              4  2020/4/27        47       -119
...                 ...            ...        ...       ...        ...
8403       530779400043              5  2020/4/27        46       -120
8404       530779400051              4  2020/4/27        46       -120
8405       530779400051              8  2020/4/27        46       -120
8406       530779400061              4  2020/4/27        46       -120
8407       530779400061              4  2020/4/27        46       -120

[8408 rows x 5 columns]

In [126]:
counts.dtypes

visitor_home_cbgs      int64
visitor_count          int64
date                  object
latitude             float64
longitude            float64
dtype: object

In [127]:
#Change the types of variable for futher clean up
counts['visitor_home_cbgs'] = counts['visitor_home_cbgs'].astype('string')
counts['visitor_count'] = counts['visitor_count'].astype('int64')

In [128]:
# Change the census level from the census block groups to the census tract level
drop_last = lambda s : s[:-1]
counts.loc[:,'visitor_home_cbgs'] = counts.loc[:,'visitor_home_cbgs'].apply(drop_last)
counts

     visitor_home_cbgs  visitor_count       date  latitude  longitude
0          53001950100              4  2020/4/27        48       -122
1          53001950100              4  2020/4/27        48       -123
2          53001950200              4  2020/4/27        46       -119
3          53001950300              4  2020/4/27        46       -119
4          53001950300              4  2020/4/27        47       -119
...                ...            ...        ...       ...        ...
8403       53077940004              5  2020/4/27        46       -120
8404       53077940005              4  2020/4/27        46       -120
8405       53077940005              8  2020/4/27        46       -120
8406       53077940006              4  2020/4/27        46       -120
8407       53077940006              4  2020/4/27        46       -120

[8408 rows x 5 columns]

In [129]:
# Change the colunm names
counts.columns = ['tract_id','count','week',"city","state"]

In [130]:
# Check the heads
counts.head()

      tract_id  count       week  city  state
0  53001950100      4  2020/4/27    48   -122
1  53001950100      4  2020/4/27    48   -123
2  53001950200      4  2020/4/27    46   -119
3  53001950300      4  2020/4/27    46   -119
4  53001950300      4  2020/4/27    47   -119

In [131]:
# Sum up all counts by the tract_id
counts_new = counts.groupby(["tract_id","week"]).sum()

In [132]:
# Check data_new
counts_new

                       count  city  state
tract_id    week
53001950100 2020/4/27      8    96   -245
53001950200 2020/4/27      4    46   -119
53001950300 2020/4/27     28   328   -835
53001950400 2020/4/27     16   187   -477
53001950500 2020/4/27     38   281   -715
...                      ...   ...    ...
53077940002 2020/4/27     37   375   -969
53077940003 2020/4/27      8    93   -241
53077940004 2020/4/27     25   279   -722
53077940005 2020/4/27     12    93   -241
53077940006 2020/4/27      8    93   -240

[1363 rows x 3 columns]

In [133]:
# Export the data to csv file
counts_new.to_csv("C:/Users/YOHO/Documents/GitHub/HaoyuYue/visiting_2020_4_WA_cleaned.csv")